:root {
  --background-color: white;
  --text-color: black;
  --navbar-bg-color: beige;
  --link-color: #000;
  --link-hover-color: rgb(136, 136, 136);
  --card-border-color: rgb(136, 136, 136);
  --card-hover-border-color: rgb(206, 217, 142);
  --table-border-color: #dddddd;
  --table-row-bg-color: #dddddd;
  --footer-bg-color: #f9f9f9;
  --button-color: #222;
  --image-dh: url('/images/DH.png');
  --image-fav: url('/images/favLigth.png');
  --form-background-color: white;
  --form-text-color: black;
  --form-button-background-color: beige;
  --form-button-hover-color: #ccc;
  --filter-img: invert(100%)
}

body.dark-theme {
  --background-color: #121212;
  --text-color: white;
  --navbar-bg-color: #333;
  --link-color: white;
  --link-hover-color: #ccc;
  --card-border-color: white;
  --card-hover-border-color: #aaa;
  --table-border-color: #444;
  --table-row-bg-color: #333;
  --footer-bg-color: #444;
  --button-color: #f9f9f9;
  --image-dh: url('/images/DHDark.png');
  --image-fav: url('/images/favDark.png');
  --form-background-color: #1e1e1e;
  --form-text-color: #e0e0e0;
  --form-button-background-color: #333;
  --form-button-hover-color: #555;
  --filter-img: none
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.imageDH {
  background-image: var(--image-url);
  background-size: cover;
}

h1{
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover {
  color: var(--link-hover-color);
}

.navbarContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: var(--navbar-bg-color);
}

.navbarContainer h2{
  padding-right: 2rem;
}
.navbarPages{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: auto;
  height: 40px;
  margin-top: 2rem;
  background-color: var(--footer-bg-color);
}

footer > img{
  width: auto;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.iconImagesContainer{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}
.icoImages{
  width: 35px;
  height: 35px;
  filter: var(--filter-img);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

form h2{
  text-align: center;
}

form p{
  text-align: center;
  margin-bottom: 50px;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid var(--card-border-color);
}
.card:hover {
  border: 0.5px solid var(--card-hover-border-color);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cardImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.detailContainer{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     display: table;
     border: 1px solid var(--table-border-color)
 
 }

tr:nth-child(even) {
  background-color: var(--table-row-bg-color);
}

table, td, th {
  border-color: var(--table-border-color);
}

.buttonTheme{
  width: 35px;
  height: 35px;
  background-color: var(--button-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.buttonTheme:hover {
  background-color: #6f6f6f;
}
.buttonTheme:active {
  background-color: #6f6f6f;
}

.noData{
  width: 100%; 
  height: auto; 
  display: block; 
  object-fit: cover; 
}

.contactContainer{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}